Repository openstack/tempest: changes, and which Zuul jobs are due for each by the changed paths.
All: tempest-tox-plugin-sanity-check, devstack-tempest, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Path conditions:
  tempest-tox-plugin-sanity-check: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  devstack-tempest: any of: ^playbooks/, ^roles/, ^.zuul.yaml$
  nova-multiattach: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-full-parallel: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-full-py36: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-full-rocky: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-full-rocky-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-full-queens: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-full-queens-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-full-pike: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-slow: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  nova-cells-v1: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  nova-live-migration: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  neutron-grenade-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  devstack-plugin-ceph-tempest: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  puppet-openstack-integration-4-scenario001-tempest-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  puppet-openstack-integration-4-scenario002-tempest-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  puppet-openstack-integration-4-scenario003-tempest-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  puppet-openstack-integration-4-scenario004-tempest-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  neutron-tempest-dvr: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  legacy-tempest-dsvm-neutron-full-ocata: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  legacy-tempest-dsvm-neutron-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-cinder-v2-api: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  legacy-periodic-tempest-dsvm-all-master: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  legacy-tempest-dsvm-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  legacy-tempest-dsvm-neutron-dvr-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  neutron-tempest-dvr-ha-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  legacy-tempest-dsvm-full-test-accounts: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  legacy-tempest-dsvm-neutron-full-test-accounts: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  legacy-tempest-dsvm-identity-v3-test-accounts: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  legacy-tempest-dsvm-neutron-full-non-admin: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  legacy-tempest-dsvm-nova-v20-api: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  legacy-tempest-dsvm-lvm-multibackend: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  legacy-tempest-dsvm-cinder-v1: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  devstack-plugin-ceph-tempest-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  legacy-tempest-dsvm-neutron-pg-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  legacy-tempest-dsvm-neutron-full-opensuse-423: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$

Optimize and enhance the code of "test_routers.py"
  tempest/api/network/test_routers.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Deprecate all-plugin
  tox.ini
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Adding missing test cases of "test_verify_tempest_config"
  tempest/tests/cmd/test_verify_tempest_config.py
Due: none

Handling invalid name of workspace register and rename.
  releasenotes/notes/bug-1791007-328a8b9a43bfb157.yaml
  tempest/cmd/workspace.py
  tempest/tests/cmd/test_workspace.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Fix test_get_config_file to always work
  tempest/tests/cmd/test_verify_tempest_config.py
Due: none

Add interop-tempest-consistency job in Tempest gate
  .zuul.yaml
Due: tempest-tox-plugin-sanity-check, devstack-tempest, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Add response schema validation for volume extensions
  tempest/lib/api_schema/response/volume/extensions.py
  tempest/lib/services/volume/v3/extensions_client.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Remove legacy-tempest-dsvm-cinder-v1
  .zuul.yaml
Due: tempest-tox-plugin-sanity-check, devstack-tempest, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Add response schema validation for volume quota classes
  tempest/api/volume/admin/test_volume_quota_classes.py
  tempest/lib/api_schema/response/volume/quota_classes.py
  tempest/lib/services/volume/v3/quota_classes_client.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Run static account tests based on tempest-full-py3
  .zuul.yaml
Due: tempest-tox-plugin-sanity-check, devstack-tempest, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Replace openSUSE experimental check with newer version
  .zuul.yaml
Due: tempest-tox-plugin-sanity-check, devstack-tempest, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Allow to create a rest_client not following redirects
  releasenotes/notes/add-redirect-param-bea1f6fbce629c70.yaml
  tempest/lib/common/http.py
  tempest/lib/common/rest_client.py
  tempest/tests/lib/common/test_http.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Fix Zuul usage of tempest-full
  .zuul.yaml
Due: tempest-tox-plugin-sanity-check, devstack-tempest, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Convert legacy-tempest-dsvm-neutron-pg-full to Zuul v3
  .zuul.yaml
Due: tempest-tox-plugin-sanity-check, devstack-tempest, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Use remote_client from tempest.lib.common instead of tempest.common
  tempest/api/compute/servers/test_attach_interfaces.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Add response schema validation for volume limits
  tempest/lib/api_schema/response/volume/limits.py
  tempest/lib/services/volume/v3/limits_client.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Convert job legacy-periodic-tempest-dsvm-all-master
  .zuul.yaml
Due: tempest-tox-plugin-sanity-check, devstack-tempest, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Change way how second NIC in guest OS is configured
  tempest/scenario/test_network_v6.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Import periodic-tempest-dsvm-oslo-latest-full-master job
  .zuul.yaml
Due: tempest-tox-plugin-sanity-check, devstack-tempest, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Remove deprecated find_test_caller function
  releasenotes/notes/remove-deprecated-find-test-caller-f4525cd043bfd1b6.yaml
  tempest/lib/common/utils/misc.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Make tempest-full-py3 not run for unit tests change
  .zuul.yaml
Due: tempest-tox-plugin-sanity-check, devstack-tempest, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Remove duplicate legacy-tempest-dsvm-multinode-full job
  .zuul.yaml
Due: tempest-tox-plugin-sanity-check, devstack-tempest, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Make connectivity test less backend dependent
  tempest/scenario/test_network_basic_ops.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Fix help message of user_unique_last_password_count
  tempest/config.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Set max microversion 2.35 for nova floatingip and securitygroup
  tempest/api/compute/servers/test_server_rescue.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Fix assert logic in test_list_security_groups_list_all_tenants_filter
  tempest/api/compute/admin/test_security_groups.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Do not check account unlock if lockout config is 0
  tempest/api/identity/v3/test_users.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Adding missing test case of account generator resources
  tempest/tests/cmd/test_account_generator.py
Due: none

Add response schema validation for volume services
  tempest/lib/api_schema/response/volume/services.py
  tempest/lib/services/volume/v3/services_client.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

GABBI_TEMPEST_PATH in tox passenv and devstack playbook
  playbooks/devstack-tempest.yaml
  tox.ini
Due: tempest-tox-plugin-sanity-check, devstack-tempest, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Add ipv6 tempest jobs
  .zuul.yaml
Due: tempest-tox-plugin-sanity-check, devstack-tempest, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Adding missing test cases in "test_run.py"
  tempest/tests/cmd/test_run.py
Due: none

Update REVIEWING docs with fast-track approval process
  REVIEWING.rst
Due: none

Add response schema validation for volume hosts
  tempest/api/volume/admin/test_volume_hosts.py
  tempest/lib/api_schema/response/volume/hosts.py
  tempest/lib/services/volume/v3/hosts_client.py
  tempest/tests/lib/services/volume/v3/test_hosts_client.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

[Trivial Fix] modify spelling error of "resource"
  tempest/tests/lib/services/image/v2/test_resource_types_client.py
Due: none

Mark network slow test as slow
  tempest/scenario/test_network_v6.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Replace deprecated "decodestring"
  tempest/lib/common/jsonschema_validator.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Deprecate available filters in favor of enabled
  releasenotes/notes/deprecate-scheduler-available-filters-cbca2017ba3cf2aa.yaml
  tempest/common/compute.py
  tempest/config.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

trivial: Don't run integration tests on tools/.* updates
  .zuul.yaml
Due: tempest-tox-plugin-sanity-check, devstack-tempest, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Add response schema validation for volume messages
  tempest/api/volume/admin/test_user_messages.py
  tempest/lib/api_schema/response/volume/messages.py
  tempest/lib/services/volume/v3/messages_client.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423
