Repository openstack/tempest: changes, and which Zuul jobs are due for each by the changed paths.
All: devstack-tempest, devstack-tempest-ipv6, tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Path conditions:
  devstack-tempest: any of: ^playbooks/, ^roles/, ^.zuul.yaml$
  devstack-tempest-ipv6: any of: ^playbooks/, ^roles/, ^.zuul.yaml$
  tempest-full-parallel: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-full-py3: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-full-py3-ipv6: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-full-stein: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-full-stein-py3: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-full-rocky: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-full-rocky-py3: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-full-queens: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-full-queens-py3: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-full-pike: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-multinode-full: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-multinode-full-py3: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-tox-plugin-sanity-check: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-slow: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-slow-py3: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  nova-live-migration: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  neutron-grenade-multinode: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  neutron-grenade: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  grenade-py3: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  devstack-plugin-ceph-tempest: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  puppet-openstack-integration-4-scenario001-tempest-centos-7: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  puppet-openstack-integration-4-scenario002-tempest-centos-7: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  puppet-openstack-integration-4-scenario003-tempest-centos-7: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  puppet-openstack-integration-4-scenario004-tempest-centos-7: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  neutron-tempest-dvr: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-full: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  interop-tempest-consistency: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-full-test-account-py3: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-full-test-account-no-admin-py3: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-cinder-v2-api: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-all: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  legacy-tempest-dsvm-neutron-dvr-multinode-full: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  neutron-tempest-dvr-ha-multinode-full: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  nova-cells-v1: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  nova-tempest-v2-api: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  legacy-tempest-dsvm-lvm-multibackend: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  devstack-plugin-ceph-tempest-py3: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-pg-full: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-full-py3-opensuse150: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$

Fix invalid parameter passed to create_volume
  tempest/api/volume/test_volumes_extend.py
  tempest/api/volume/test_volumes_snapshots.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Break wait_for_volume_resource_status when error_extending
  tempest/common/waiters.py
  tempest/exceptions.py
  tempest/tests/common/test_waiters.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Add microversion support in scenario tests
  releasenotes/notes/support-microversion-in-scenario-test-b4fbfdd3a977fc58.yaml
  tempest/scenario/manager.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Add QoS policies and minimum bandwidth rule client
  releasenotes/notes/QoS-client-for-placement-based-minimum-bw-allocation-8e5854d5754cec68.yaml
  tempest/clients.py
  tempest/lib/services/network/__init__.py
  tempest/lib/services/network/qos_client.py
  tempest/lib/services/network/qos_minimum_bandwidth_rules_client.py
  tempest/tests/lib/services/network/test_qos_client.py
  tempest/tests/lib/services/network/test_qos_minimum_bandwidth_rules_client.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Move tox execution to current docs section
  README.rst
Due: none

Immutable user source: Non-admin V2 and V3 tests
  tempest/api/identity/v2/test_users.py
  tempest/api/identity/v3/test_users.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Remove some deprecated auth and identity options
  releasenotes/notes/remove-some-deprecated-auth-and-identity-options-xa1xd9b8fb948g4f.yaml
  tempest/config.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Minimum bandwidth allocation with placement
  .zuul.yaml
  tempest/config.py
  tempest/scenario/manager.py
  tempest/scenario/test_minbw_allocation_placement.py
Due: devstack-tempest, devstack-tempest-ipv6, tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Specify availability zone to create instances and volumes
  releasenotes/notes/bug-1647999-7aeda50a8d082d4c.yaml
  tempest/config.py
  tempest/scenario/manager.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Publish non-openstack namespace tempest plugins
  .zuul.yaml
  tools/generate-tempest-plugins-list.py
  tools/generate-tempest-plugins-list.sh
  tools/tempest-plugin-sanity.sh
Due: devstack-tempest, devstack-tempest-ipv6, tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Publish BLACKLIST on Tempest plugin registry page
  doc/source/data/tempest-blacklisted-plugins-registry.header
  tools/generate-tempest-plugins-list.py
  tools/generate-tempest-plugins-list.sh
  tools/tempest-plugin-sanity.sh
Due: tempest-tox-plugin-sanity-check

Pass more accurate error message to DeleteErrorException
  tempest/common/waiters.py
  tempest/lib/services/volume/v3/volumes_client.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

fup: fix docsting in manager.py
  tempest/scenario/manager.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Remove RetryFilter from defaults
  tempest/config.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Fix cleanup NotImplemented error
  tempest/cmd/cleanup.py
  tempest/cmd/cleanup_service.py
  tempest/tests/cmd/test_cleanup.py
  tempest/tests/cmd/test_cleanup_services.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Specify AZ for non-scenario tests
  tempest/api/compute/base.py
  tempest/api/volume/base.py
  tempest/common/compute.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

compute: Make image certificate validation a configurable feature
  releasenotes/notes/config_image_certificate_compute_feature-c56efb520d54aff5.yaml
  tempest/api/compute/servers/test_servers.py
  tempest/config.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Stop checking the error message in test_boot_with_low_ram
  tempest/api/compute/flavors/test_flavors_negative.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Add project prefix to blacklist
  tools/generate-tempest-plugins-list.py
Due: tempest-tox-plugin-sanity-check

Raise non 404 Error in generate-tempest-plugin-list.py
  tools/generate-tempest-plugins-list.py
Due: tempest-tox-plugin-sanity-check

Revert "Skip test_server_connectivity_cold_migration_revert until fixed"
  tempest/scenario/test_network_advanced_server_ops.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Use assert_flavor_equal to check flavor before and after microversion 2.46
  tempest/api/compute/servers/test_server_actions.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

compute: Correctly pass certified_image_ref as image_id
  tempest/api/compute/servers/test_servers.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Fix invalid assertIsNone state
  tempest/tests/cmd/test_run.py
Due: none

Remove cyborg-tempest-plugin from BLACKLIST
  tools/generate-tempest-plugins-list.py
Due: tempest-tox-plugin-sanity-check

Remove networking-ansible from tempest plugins list
  .zuul.yaml
  tools/generate-tempest-plugins-list.py
Due: devstack-tempest, devstack-tempest-ipv6, tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Remove nova-lxd plugin from blacklist
  tools/generate-tempest-plugins-list.py
Due: tempest-tox-plugin-sanity-check

Filter out floating IPs from server IPs list
  tempest/api/compute/servers/test_attach_interfaces.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Fix tempest run doc indentation
  tempest/cmd/run.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Define the Integrated-gate-networking gate template
  .zuul.yaml
  tools/tempest-integrated-gate-networking-blacklist.txt
  tox.ini
Due: devstack-tempest, devstack-tempest-ipv6, tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Define the Integrated-gate-storage gate template
  .zuul.yaml
  tools/tempest-integrated-gate-storage-blacklist.txt
  tox.ini
Due: devstack-tempest, devstack-tempest-ipv6, tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

add unittest for volume encryption types
  tempest/tests/lib/services/volume/v3/test_encryption_types_client.py
Due: none

Remove the Pike stable branch jobs from master gate
  .zuul.yaml
Due: devstack-tempest, devstack-tempest-ipv6, tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

tempest cleanup should use keystone v3 client
  tempest/cmd/cleanup_service.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

add show default group type details and unit test
  releasenotes/notes/add-show-default-group-type-detail-api-to-v3-group-types-client-65f717878cf52da0.yaml
  tempest/lib/services/volume/v3/group_types_client.py
  tempest/tests/lib/services/volume/v3/test_group_types_client.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Skip test_server_connectivity_cold_migration_revert until fixed
  tempest/scenario/test_network_advanced_server_ops.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Skip tests in TrustsV3TestJSON with immutable user source
  tempest/api/identity/admin/v3/test_trusts.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Define the Integrated-gate-placement gate template
  .zuul.yaml
  tools/tempest-integrated-gate-placement-blacklist.txt
  tox.ini
Due: devstack-tempest, devstack-tempest-ipv6, tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Define the Integrated-gate-compute gate template
  .zuul.yaml
  tools/tempest-integrated-gate-compute-blacklist.txt
  tox.ini
Due: devstack-tempest, devstack-tempest-ipv6, tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Define the Integrated-gate-object-storage gate template
  .zuul.yaml
  tools/tempest-integrated-gate-object-storage-blacklist.txt
  tox.ini
Due: devstack-tempest, devstack-tempest-ipv6, tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150
