Repository openstack/tempest: changes, and which Zuul jobs are due for each by the changed paths.
All: tempest-tox-plugin-sanity-check, devstack-tempest, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Path conditions:
  tempest-tox-plugin-sanity-check: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  devstack-tempest: any of: ^playbooks/, ^roles/, ^.zuul.yaml$
  tempest-full-parallel: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-full-py36: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-full-queens: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-full-queens-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-full-pike: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-scenario-all: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tempest/api/.*$
  nova-cells-v1: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  nova-live-migration: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-cinder-v2-api: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$

Remove unused config.CONF
  tempest/api/compute/admin/test_delete_server.py
  tempest/api/identity/admin/v3/test_application_credentials.py
  tempest/api/identity/admin/v3/test_projects.py
  tempest/api/identity/admin/v3/test_roles.py
  tempest/api/identity/v3/test_application_credentials.py
  tempest/api/network/admin/test_l3_agent_scheduler.py
  tempest/api/network/admin/test_ports.py
  tempest/api/network/test_allowed_address_pair.py
  tempest/api/network/test_ports.py
  tempest/api/network/test_routers_negative.py
  tempest/api/network/test_security_groups.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

trivial: Correct class name for BaseVolumeQuotasAdminTestJSON
  tempest/api/volume/admin/test_volume_quotas.py
  tempest/api/volume/admin/test_volume_quotas_negative.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Add check for hypervisor state before getting uptime
  tempest/api/compute/admin/test_hypervisor.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Update .mailmap for ghanshyam emails
  .mailmap
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Remove unnecessary response check in InstanceUsageAuditLogTestJSON
  tempest/api/compute/admin/test_instance_usage_audit_log.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Set CONF.image_feature_enabled.api_v1 default to False
  releasenotes/notes/config-image-api-v1-default-to-false-39d5f2xafc534ab1.yaml
  tempest/config.py
  tempest/tests/cmd/test_verify_tempest_config.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

import zuul job settings from project-config
  .zuul.yaml
Due: tempest-tox-plugin-sanity-check, devstack-tempest, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

switch documentation job to new PTI
  .zuul.yaml
Due: tempest-tox-plugin-sanity-check, devstack-tempest, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Use openstack-tox-cover template
  .zuul.yaml
Due: tempest-tox-plugin-sanity-check, devstack-tempest, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Do not pass device when calling compute.base.attach_volume
  tempest/api/compute/servers/test_delete_server.py
  tempest/api/compute/servers/test_server_rescue_negative.py
  tempest/api/compute/volumes/test_attach_volume.py
  tempest/api/compute/volumes/test_attach_volume_negative.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Run tempest-full(-py3) in stable/rocky
  .zuul.yaml
Due: tempest-tox-plugin-sanity-check, devstack-tempest, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Fix deprecated_name in the help message in config.py
  tempest/config.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Follow devstack-plugin-ceph job rename
  .zuul.yaml
Due: tempest-tox-plugin-sanity-check, devstack-tempest, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Fix an assert sequence in test_image_share_accept
  tempest/api/image/v2/test_images_member.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Fix QuotasNegativeTest to use non dynamic credentials
  tempest/api/network/admin/test_negative_quotas.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Skip 3.19 test_reset_group_snapshot_status
  tempest/api/volume/admin/test_group_snapshots.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Skip test_server_connectivity_cold_migration_revert until fixed
  tempest/scenario/test_network_advanced_server_ops.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Removing duplicate variable "parsed_args.config_file"
  tempest/tests/cmd/test_run.py
Due: none

Default enable run_validation
  releasenotes/notes/tempest-default-run_validations-9640c41b6a4a9121.yaml
  tempest/config.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Fix docstring example in HACKING
  HACKING.rst
Due: none

Adding unit test of setting config path for "tempest run"
  tempest/tests/cmd/test_run.py
Due: none

fix tox python3 overrides
  tox.ini
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Make some test_list_projects tests work w/ pre-prov
  tempest/api/identity/admin/v3/test_list_projects.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Rename TestQuotasClient to TestHostsClient
  tempest/tests/lib/services/volume/v3/test_hosts_client.py
Due: none

Fixed test_compare_volume_stats_values false failures
  tempest/api/volume/admin/test_backends_capabilities.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Mark some slow tests as slow so they move out of the main job
  tempest/api/compute/admin/test_volume_swap.py
  tempest/api/compute/servers/test_device_tagging.py
  tempest/api/compute/servers/test_server_actions.py
  tempest/api/compute/servers/test_server_personality.py
  tempest/api/compute/volumes/test_attach_volume.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Optimize test_volume_swap_with_multiattach for server status wait
  tempest/api/compute/admin/test_volume_swap.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Removing redundant "if test_resource.network" from account_generator.py
  tempest/cmd/account_generator.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

fix: Re-clarify unit test REVIEWING documentation
  REVIEWING.rst
Due: none

Add missing test for "Show API v2 details" action
  releasenotes/notes/network-show-version-18e1707a4df0a3d3.yaml
  tempest/api/network/test_versions.py
  tempest/lib/services/network/versions_client.py
  tempest/tests/lib/services/network/test_versions_client.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Cleanup irrelevant-files list in .zuul.yaml
  .zuul.yaml
Due: tempest-tox-plugin-sanity-check, devstack-tempest, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

swift: container ACL - use ID's for tenant and user
  tempest/api/object_storage/test_container_acl.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Add response schema validation for volume qos-specs
  tempest/lib/api_schema/response/volume/qos.py
  tempest/lib/services/volume/v3/qos_client.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

refactor v3 cred tests to work with pre-prov
  tempest/api/identity/admin/v3/test_credentials.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Add delete_agent to AgentsClient
  releasenotes/notes/agents-client-delete-method-de1a7fb3f845999c.yaml
  tempest/api/network/admin/test_agent_management.py
  tempest/lib/services/network/agents_client.py
  tempest/tests/lib/services/network/test_agents_client.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Add test coverage CMD cleanup_service
  tempest/tests/cmd/test_cleanup_services.py
  tempest/tests/fake_config.py
Due: none

Interface tests: wait for server to become SSHable
  tempest/api/compute/servers/test_attach_interfaces.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Add response schema validation for volume capabilities
  tempest/api/volume/admin/test_backends_capabilities.py
  tempest/lib/api_schema/response/volume/capabilities.py
  tempest/lib/services/volume/v3/capabilities_client.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Use show_volume_type to check the result of update_volume_type
  tempest/api/volume/admin/test_volume_types.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Removing redundant spec value in account_generator.py
  tempest/cmd/account_generator.py
  tempest/tests/cmd/test_account_generator.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api
