Repository openstack/tempest: changes, and which Zuul jobs are due for each by the changed paths.
All: devstack-tempest, devstack-tempest-ipv6, tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Path conditions:
  devstack-tempest: any of: ^playbooks/, ^roles/, ^.zuul.yaml$
  devstack-tempest-ipv6: any of: ^playbooks/, ^roles/, ^.zuul.yaml$
  tempest-full-parallel: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-full-py3: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-full-py3-ipv6: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-full-stein: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-full-stein-py3: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-full-rocky: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-full-rocky-py3: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-full-queens: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-full-queens-py3: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-full-pike: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-multinode-full: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-multinode-full-py3: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-tox-plugin-sanity-check: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-slow: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-slow-py3: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  nova-live-migration: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  neutron-grenade-multinode: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  neutron-grenade: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  grenade-py3: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  devstack-plugin-ceph-tempest: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  puppet-openstack-integration-4-scenario001-tempest-centos-7: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  puppet-openstack-integration-4-scenario002-tempest-centos-7: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  puppet-openstack-integration-4-scenario003-tempest-centos-7: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  puppet-openstack-integration-4-scenario004-tempest-centos-7: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  neutron-tempest-dvr: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-full: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  interop-tempest-consistency: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-full-test-account-py3: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-full-test-account-no-admin-py3: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-cinder-v2-api: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-all: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  legacy-tempest-dsvm-neutron-dvr-multinode-full: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  neutron-tempest-dvr-ha-multinode-full: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  nova-cells-v1: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  nova-tempest-v2-api: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  legacy-tempest-dsvm-lvm-multibackend: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  devstack-plugin-ceph-tempest-py3: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-pg-full: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-full-py3-opensuse150: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$

Fix the logging of request body credentials
  releasenotes/notes/fix-credential-logging-98089c897d801355.yaml
  tempest/lib/common/rest_client.py
  tempest/lib/services/identity/v2/token_client.py
  tempest/lib/services/identity/v3/token_client.py
  tempest/tests/lib/fake_identity.py
  tempest/tests/lib/services/identity/v2/test_token_client.py
  tempest/tests/lib/services/identity/v3/test_token_client.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

tempest cleanup - use admin_mgr only
  tempest/cmd/cleanup.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Add release note for log_req_body kwarg
  releasenotes/notes/fix-credential-logging-98089c897d801355.yaml
Due: none

Add Tempest gate job for stable/train
  .zuul.yaml
Due: devstack-tempest, devstack-tempest-ipv6, tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Add release notes page for version 22.0.0
  releasenotes/source/index.rst
  releasenotes/source/v22.0.0.rst
Due: none

Modify the application credentials fake data
  tempest/tests/lib/services/identity/v3/test_application_credentials_client.py
Due: none

Modify the fake date
  tempest/tests/lib/services/volume/v3/test_volumes_client.py
Due: none

Add workaround to handle the testtool skip exception in CLI test
  releasenotes/notes/fix-1847749-2670b1d4f6097a1a.yaml
  tempest/lib/base.py
  tempest/test.py
  tempest/tests/lib/test_base.py
  tempest/tests/test_test.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Fix reno typo
  releasenotes/notes/fix-1847749-2670b1d4f6097a1a.yaml
Due: none

Relax volume compare in test_minimum_basic_scenario
  tempest/scenario/test_minimum_basic.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Disable c-bak service in tempest-full* jobs
  .zuul.yaml
Due: devstack-tempest, devstack-tempest-ipv6, tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

tempest-plugin-sanity: respect upper-constraints
  tools/tempest-plugin-sanity.sh
Due: tempest-tox-plugin-sanity-check

Modify the error fake date
  tempest/tests/lib/services/volume/v3/test_backups_client.py
Due: none

Update test_port_list_filter_by_ip pass conditions
  tempest/api/network/test_ports.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Remove unused opensuse150 job definition
  .zuul.yaml
Due: devstack-tempest, devstack-tempest-ipv6, tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Drop old neutron-grenade job
  .zuul.yaml
Due: devstack-tempest, devstack-tempest-ipv6, tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Modify the wrong response example for test_types_client in v3
  tempest/tests/lib/services/volume/v3/test_types_client.py
Due: none

Fix api-link for interface force_detach_volume
  tempest/lib/services/volume/v3/volumes_client.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Modify the response in test_snapshots_client
  tempest/tests/lib/services/volume/v3/test_snapshots_client.py
Due: none

Use python 3 on all nodes in multinode jobs
  .zuul.yaml
Due: devstack-tempest, devstack-tempest-ipv6, tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Close ssh client after executing a command
  tempest/lib/common/ssh.py
  tempest/tests/lib/test_ssh.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Added tempest subcommand for subunit_describe_calls
  releasenotes/notes/subunit_describe_calls-ad7df689b9d63e3f.yaml
  setup.cfg
  tempest/cmd/subunit_describe_calls.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Fix test_attach_detach_volume test case to not rely on user/libvirt supplied disk name
  tempest/api/compute/volumes/test_attach_volume.py
  tempest/common/utils/linux/remote_client.py
  tempest/tests/common/utils/linux/test_remote_client.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

add unittest for list image members interface
  tempest/tests/lib/services/image/v2/test_image_members_client.py
Due: none

Complete missing interface test for test_groups_client in v3
  tempest/tests/lib/services/volume/v3/test_groups_client.py
Due: none

add unittest for delete tag definition interface
  tempest/tests/lib/services/image/v2/test_namespace_tags_client.py
Due: none

Replaced testr with stestr
  doc/source/overview.rst
Due: none

Add host validation after live migration
  tempest/scenario/test_network_advanced_server_ops.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Remove the security_group_default_rules tests
  tempest/api/compute/admin/test_security_group_default_rules.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Add a default network when creating a server
  tempest/api/compute/servers/test_servers_negative.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Remove test_agent_management tests
  tempest/api/network/admin/test_agent_management.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

add unittest for list namespaces interface
  tempest/tests/lib/services/image/v2/test_namespaces_client.py
Due: none

Remove xvpvnc console type tests
  tempest/api/compute/servers/test_server_actions.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

add unittest for agent operation interface in network part
  tempest/tests/lib/services/network/test_agents_client.py
Due: none

Extend cleanup CLI to delete regions
  releasenotes/notes/Extend-cleanup-CLI-to-delete-regions-9f1dbda2c8de12e2.yaml
  tempest/cmd/cleanup_service.py
  tempest/tests/cmd/test_cleanup_services.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Tempest cleanup: improve iterating over projects
  tempest/cmd/cleanup.py
  tempest/cmd/cleanup_service.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Fix app cred client unit test name
  tempest/tests/lib/services/identity/v3/test_application_credentials_client.py
Due: none

Remove the deprecated verify-tempest-config CLI
  releasenotes/notes/verify-tempest-command-8e88452c7a08dd77.yaml
  setup.cfg
  tempest/cmd/verify_tempest_config.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Added stestr for running test using pdb flag
  tempest/config.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Add Access Rules tests
  tempest/api/identity/base.py
  tempest/api/identity/v3/test_access_rules.py
  tempest/api/identity/v3/test_application_credentials.py
  tempest/clients.py
  tempest/config.py
  tempest/lib/services/identity/v3/__init__.py
  tempest/lib/services/identity/v3/access_rules_client.py
  tempest/tests/lib/services/identity/v3/test_access_rules_client.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150
