Repository openstack/tempest: changes, and which Zuul jobs are due for each by the changed paths.
All: devstack-tempest, devstack-tempest-ipv6, tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

devstack-tempest:
  parent: devstack
  description: 'Base Tempest job.
  
  
    This Tempest job provides the base for both the single and multi-node
  
    test setup. To run a multi-node test inherit from devstack-tempest and
  
    set the nodeset to a multi-node one.
  
    '
  required-projects:
  - git.openstack.org/openstack/tempest
  ...

devstack-tempest-ipv6:
  parent: devstack-ipv6
  description: 'Base Tempest IPv6 job.
  
    '
  required-projects:
  - git.openstack.org/openstack/tempest
  timeout: 7200
  roles:
  - zuul: git.openstack.org/openstack-dev/devstack
  vars:
    devstack_services:
      tempest: true
    devstack_local_conf:
      test-config:
        $TEMPEST_CONFIG:
  ...

tempest-full-parallel:
  parent: tempest-full
  voting: false
  branches:
  - master
  description: 'Base integration test with Neutron networking and py27.
  
    It includes all scenarios as it was in the past.
  
    This job runs all scenario tests in parallel!
  
    '
  vars:
    tox_envlist: full-parallel

tempest-full-py3:
  parent: devstack-tempest
  branches: ^(?!stable/ocata).*$
  description: "Base integration test with Neutron networking and py3.\nFormer names for this job where:\n  * legacy-tempest-dsvm-py35\n  * gate-tempest-dsvm-py35\n"
  vars:
    tox_envlist: full
    devstack_localrc:
      USE_PYTHON3: true
  ...

tempest-full-py3-ipv6:
  parent: devstack-tempest-ipv6
  branches: ^(?!stable/ocata).*$
  description: 'Base integration test with Neutron networking, IPv6 and py3.
  
    '
  vars:
    tox_envlist: full
    devstack_localrc:
      USE_PYTHON3: true
      FORCE_CONFIG_DRIVE: true
    devstack_services:
      s-account: false
  ...

tempest-full-stein:
  parent: tempest-full
  override-checkout: stable/stein

tempest-full-stein-py3:
  parent: tempest-full-py3
  override-checkout: stable/stein

tempest-full-rocky:
  parent: tempest-full
  nodeset: openstack-single-node-xenial
  override-checkout: stable/rocky

tempest-full-rocky-py3:
  parent: tempest-full-py3
  nodeset: openstack-single-node-xenial
  override-checkout: stable/rocky

tempest-full-queens:
  parent: tempest-full
  nodeset: openstack-single-node-xenial
  override-checkout: stable/queens

tempest-full-queens-py3:
  parent: tempest-full-py3
  nodeset: openstack-single-node-xenial
  override-checkout: stable/queens

tempest-full-pike:
  parent: tempest-full
  nodeset: openstack-single-node-xenial
  override-checkout: stable/pike

tempest-multinode-full:
  parent: tempest-multinode-full-base
  nodeset: openstack-two-node-xenial
  branches:
  - stable/pike
  - stable/queens
  - stable/rocky

tempest-multinode-full-py3:
  parent: tempest-multinode-full
  vars:
    devstack_localrc:
      USE_PYTHON3: true

tempest-slow:
  parent: tempest-multinode-full
  ...

tempest-slow-py3:
  parent: tempest-slow
  vars:
    devstack_localrc:
      USE_PYTHON3: true
    devstack_services:
      s-account: false
      s-container: false
      s-object: false
      s-proxy: false
      c-bak: false

Add rand_name to create port incase of leaks
  tempest/api/compute/servers/test_attach_interfaces.py
  tempest/api/compute/servers/test_device_tagging.py
  tempest/api/network/admin/test_external_networks_negative.py
  tempest/api/network/admin/test_ports.py
  tempest/api/network/admin/test_routers_negative.py
  tempest/api/network/base.py
  tempest/api/network/test_allowed_address_pair.py
  tempest/api/network/test_extra_dhcp_options.py
  tempest/api/network/test_floating_ips.py
  tempest/api/network/test_networks_negative.py
  tempest/api/network/test_ports.py
  tempest/api/network/test_routers.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Add response schema validation for volume types
  tempest/api/volume/admin/test_volume_types.py
  tempest/lib/api_schema/response/volume/volume_types.py
  tempest/lib/services/volume/v3/types_client.py
  tempest/tests/lib/services/volume/v3/test_types_client.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Add api reference for extensions_client
  tempest/lib/services/network/extensions_client.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Remove unused project_ids in test_list_projects
  tempest/api/identity/admin/v3/test_list_projects.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Fix test_novnc to adequately validate websocket upgrade
  releasenotes/notes/deprecate-vnc-server-header-529f07d592aefb62.yaml
  tempest/api/compute/servers/test_novnc.py
  tempest/config.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

mke2fs: do not use full path
  tempest/common/utils/linux/remote_client.py
  tempest/config.py
  tempest/tests/common/utils/linux/test_remote_client.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Use create_image_from_server to create image for server
  tempest/api/compute/images/test_images_oneserver.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Modify the list group date
  tempest/tests/lib/services/volume/v3/test_group_snapshots_client.py
Due: none

Add response schema validation for volume quota_set
  tempest/api/volume/admin/test_volume_quotas.py
  tempest/lib/api_schema/response/volume/quotas.py
  tempest/lib/services/volume/v3/quotas_client.py
  tempest/tests/lib/services/volume/v3/test_quotas_client.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Validation of openstack keystone version status
  tempest/api/identity/v3/test_api_discovery.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Add the api reference for roles_client in v3
  tempest/lib/services/identity/v3/roles_client.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Add group-based-policy to blacklist
  tools/generate-tempest-plugins-list.py
Due: tempest-tox-plugin-sanity-check

"test_project_get_equals_list" allows extra fields
  tempest/api/identity/admin/v3/test_projects.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Allow overridding OS_TEST_TIMEOUT via the role variables
  roles/run-tempest/README.rst
  roles/run-tempest/defaults/main.yaml
  roles/run-tempest/tasks/main.yaml
Due: devstack-tempest, devstack-tempest-ipv6, tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Fix use of get_server_ip with fixed networks
  tempest/api/compute/servers/test_attach_interfaces.py
  tempest/api/compute/servers/test_device_tagging.py
  tempest/api/compute/servers/test_server_actions.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Remove required projects for sanity job
  .zuul.yaml
Due: devstack-tempest, devstack-tempest-ipv6, tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Fix volume host schema: host name may not contain '@'
  tempest/lib/api_schema/response/volume/hosts.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Add a CONTRIBUTING file
  CONTRIBUTING.rst
Due: none

Add response schema validation for volume transfer
  tempest/api/volume/test_volume_transfers.py
  tempest/lib/api_schema/response/volume/transfers.py
  tempest/lib/services/volume/v3/transfers_client.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Add PDF building
  README.rst
  doc/requirements.txt
  doc/source/conf.py
  doc/source/index.rst
  doc/source/overview.rst
  tox.ini
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Add workaround to handle the testtool skip exception issue
  tempest/test.py
  tempest/tests/test_test.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Bump the openstackdocstheme extension to 1.20
  doc/source/conf.py
  releasenotes/source/conf.py
Due: none

Move upload/download image action to right place
  tempest/api/image/v2/test_images.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Add irrelevant files to .zuul.yaml
  .zuul.yaml
Due: devstack-tempest, devstack-tempest-ipv6, tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Modify the list project date
  tempest/tests/lib/services/identity/v3/test_projects_client.py
Due: none

switch to the newly created opensuse-15 nodeset
  .zuul.yaml
Due: devstack-tempest, devstack-tempest-ipv6, tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

add unit test for list_user_projects method
  tempest/tests/lib/services/identity/v3/test_users_client.py
Due: none

Added instructions about general IDE's in gitignore
  .gitignore
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Use the IPv6 documentation prefix as the default cidr
  tempest/config.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Modify the create user fake data
  tempest/tests/lib/services/identity/v3/test_users_client.py
Due: none

Add assertNotEmpty to avoid IndexError
  tempest/api/volume/admin/test_volume_pools.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Address bug 1839794 on the Volume show version client
  tempest/api/volume/test_versions.py
  tempest/lib/services/volume/v3/versions_client.py
  tempest/tests/lib/services/volume/v3/test_versions_client.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Remove barbican-tempest-plugin from blacklist
  tools/generate-tempest-plugins-list.py
Due: tempest-tox-plugin-sanity-check

Set irrelevant-files for bashate job
  .zuul.yaml
Due: devstack-tempest, devstack-tempest-ipv6, tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Move logging from _request() to raw_request()
  tempest/lib/common/rest_client.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Modify the comment for backups_client in v1
  tempest/lib/services/volume/v1/backups_client.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Enable xindy for PDF build
  doc/source/conf.py
Due: none

Add releasenote to tag the Tempest for Train release
  releasenotes/notes/tempest-train-release-a2ed0743a5eadeb6.yaml
Due: none

Remove timer and _log_request() calling
  tempest/lib/services/compute/versions_client.py
  tempest/lib/services/identity/v3/versions_client.py
  tempest/lib/services/image/v2/versions_client.py
  tempest/lib/services/volume/v3/versions_client.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Call tearDownClass when handling skip exception on setUpClass
  tempest/test.py
  tempest/tests/test_test.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Path conditions:
  devstack-tempest: any of: ^playbooks/, ^roles/, ^.zuul.yaml$
  devstack-tempest-ipv6: any of: ^playbooks/, ^roles/, ^.zuul.yaml$
  tempest-full-parallel: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-full-py3: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-full-py3-ipv6: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-full-stein: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-full-stein-py3: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-full-rocky: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-full-rocky-py3: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-full-queens: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-full-queens-py3: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-full-pike: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-multinode-full: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-multinode-full-py3: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-tox-plugin-sanity-check: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-slow: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-slow-py3: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  nova-live-migration: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  neutron-grenade-multinode: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  neutron-grenade: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  grenade-py3: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  devstack-plugin-ceph-tempest: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  puppet-openstack-integration-4-scenario001-tempest-centos-7: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  puppet-openstack-integration-4-scenario002-tempest-centos-7: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  puppet-openstack-integration-4-scenario003-tempest-centos-7: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  puppet-openstack-integration-4-scenario004-tempest-centos-7: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  neutron-tempest-dvr: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-full: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  interop-tempest-consistency: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-full-test-account-py3: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-full-test-account-no-admin-py3: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-cinder-v2-api: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-all: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  legacy-tempest-dsvm-neutron-dvr-multinode-full: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  neutron-tempest-dvr-ha-multinode-full: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  nova-cells-v1: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  nova-tempest-v2-api: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  legacy-tempest-dsvm-lvm-multibackend: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  devstack-plugin-ceph-tempest-py3: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-pg-full: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-full-py3-opensuse150: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
