Repository openstack/tempest: changes, and which Zuul jobs are due for each by the changed paths.
All: tempest-tox-plugin-sanity-check, devstack-tempest, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

tempest-tox-plugin-sanity-check:
  parent: tox
  description: 'Run tempest plugin sanity check script using tox.
  
    '
  nodeset: ubuntu-xenial
  vars:
    tox_envlist: plugin-sanity-check
  voting: false
  timeout: 5000
  required-projects:
  - openstack/almanach
  - openstack/aodh
  - openstack/barbican-tempest-plugin
  - openstack/ceilometer
  ...

devstack-tempest:
  parent: devstack
  nodeset: openstack-single-node
  description: 'Base Tempest job.
  
  
    This Tempest job provides the base for both the single and multi-node
  
    test setup. To run a multi-node test inherit from devstack-tempest and
  
    set the nodeset to a multi-node one.
  
    '
  required-projects:
  ...

tempest-full-parallel:
  parent: tempest-full
  voting: false
  branches:
  - master
  description: 'Base integration test with Neutron networking and py27.
  
    It includes all scenarios as it was in the past.
  
    This job runs all scenario tests in parallel!
  
    '
  vars:
    tox_envlist: full-parallel

tempest-full-py36:
  parent: tempest-full-py3
  nodeset: openstack-bionic-node
  branches:
  - master
  description: 'Base integration test with Neutron networking and py36.
  
    '
  voting: false

tempest-full-queens:
  parent: tempest-full
  override-checkout: stable/queens

tempest-full-queens-py3:
  parent: tempest-full-py3
  override-checkout: stable/queens

tempest-full-pike:
  parent: tempest-full
  override-checkout: stable/pike

tempest-multinode-full:
  parent: devstack-tempest
  nodeset: openstack-two-node
  branches:
  - master
  ...

tempest-scenario-all:
  parent: tempest-multinode-full
  branches:
  - master
  ...

nova-live-migration:
  voting: false

tempest-cinder-v2-api:
  parent: devstack-tempest
  branches:
  - master
  description: 'This job runs the cinder API test against v2 endpoint.
  
    '
  vars:
    tox_envlist: all
    tempest_test_regex: api.*volume
    devstack_localrc:
      TEMPEST_VOLUME_TYPE: volumev2

Replace volume size with configured value
  tempest/api/volume/test_volumes_extend.py
  tempest/api/volume/test_volumes_negative.py
  tempest/api/volume/test_volumes_snapshots_negative.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Remove unused class variables
  tempest/api/compute/admin/test_services_negative.py
  tempest/api/volume/admin/test_volume_services_negative.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Move volume v2 service client unit tests to v3 dir
  tempest/tests/lib/services/volume/v2/test_volumes_client.py
  tempest/tests/lib/services/volume/v3/test_volumes_client.py
Due: none

Add server tags schema in servers.py
  tempest/lib/api_schema/response/compute/v2_47/servers.py
  tempest/lib/api_schema/response/compute/v2_48/servers.py
  tempest/lib/api_schema/response/compute/v2_54/servers.py
  tempest/lib/api_schema/response/compute/v2_57/servers.py
  tempest/lib/api_schema/response/compute/v2_63/servers.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Make instance_action_events.traceback a non-required field
  tempest/lib/api_schema/response/compute/v2_1/servers.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Move creating server group from resource_setup to setUp
  tempest/api/compute/servers/test_server_group.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Use a smaller number for checking console log length
  tempest/api/compute/servers/test_server_actions.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

refactor: Prepare test_list_projects for pre-prov
  tempest/api/identity/admin/v3/test_list_projects.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Removing unused attributes from test_run.py
  tempest/tests/cmd/test_run.py
Due: none

Avoid server_check_teardown exception breaking tearDown
  tempest/api/compute/images/test_images_oneserver_negative.py
  tempest/api/compute/servers/test_novnc.py
  tempest/api/compute/servers/test_server_actions.py
  tempest/api/compute/servers/test_servers_negative.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Skip verifying empty devices in test_tagged_attachment until bug is fixed
  tempest/api/compute/servers/test_device_tagging.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Move all volume v2 service client unit tests to v3 dir
  tempest/tests/lib/services/volume/v2/__init__.py
  tempest/tests/lib/services/volume/v2/test_backups_client.py
  tempest/tests/lib/services/volume/v3/test_availability_zone_client.py
  tempest/tests/lib/services/volume/v3/test_backups_client.py
  tempest/tests/lib/services/volume/v3/test_capabilities_client.py
  tempest/tests/lib/services/volume/v3/test_encryption_types_client.py
  tempest/tests/lib/services/volume/v3/test_extensions_client.py
  tempest/tests/lib/services/volume/v3/test_hosts_client.py
  tempest/tests/lib/services/volume/v3/test_limits_client.py
  tempest/tests/lib/services/volume/v3/test_quota_classes_client.py
  tempest/tests/lib/services/volume/v3/test_quotas_client.py
  tempest/tests/lib/services/volume/v3/test_scheduler_stats_client.py
  tempest/tests/lib/services/volume/v3/test_snapshot_manage_client.py
  tempest/tests/lib/services/volume/v3/test_snapshots_client.py
  tempest/tests/lib/services/volume/v3/test_transfers_client.py
  tempest/tests/lib/services/volume/v3/test_volume_manage_client.py
Due: none

Move server groups schema into its own file
  tempest/lib/api_schema/response/compute/v2_1/server_groups.py
  tempest/lib/api_schema/response/compute/v2_1/servers.py
  tempest/lib/api_schema/response/compute/v2_13/server_groups.py
  tempest/lib/services/compute/server_groups_client.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Fix broken image api ref url
  tempest/lib/services/image/v2/images_client.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Fill servers schema for microversion 2.3
  tempest/lib/api_schema/response/compute/v2_3/servers.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Add etc/*.conf files to .gitignore
  .gitignore
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Set max_microversion 2.35 for nova image tests
  tempest/api/compute/base.py
  tempest/api/compute/images/test_images.py
  tempest/api/compute/images/test_images_negative.py
  tempest/api/compute/images/test_images_oneserver.py
  tempest/api/compute/images/test_images_oneserver_negative.py
  tempest/api/compute/images/test_list_image_filters.py
  tempest/api/compute/images/test_list_image_filters_negative.py
  tempest/api/compute/images/test_list_images.py
  tempest/api/compute/servers/test_servers_negative.py
  tempest/cmd/cleanup_service.py
  tempest/scenario/manager.py
  tempest/tests/api/compute/test_base.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Fix to enable `--config-file` option
  tempest/config.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Add server schema for microversion 2.6
  tempest/lib/api_schema/response/compute/v2_6/servers.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Hacking checks for negative test cases
  HACKING.rst
  tempest/hacking/checks.py
  tempest/tests/test_hacking.py
Due: none

Modify limits fields according to microversion
  doc/source/microversion_testing.rst
  tempest/api/compute/limits/test_absolute_limits.py
  tempest/api/compute/limits/test_absolute_limits_negative.py
  tempest/lib/api_schema/response/compute/v2_36/__init__.py
  tempest/lib/api_schema/response/compute/v2_36/limits.py
  tempest/lib/api_schema/response/compute/v2_39/__init__.py
  tempest/lib/api_schema/response/compute/v2_39/limits.py
  tempest/lib/api_schema/response/compute/v2_57/limits.py
  tempest/lib/services/compute/limits_client.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Fill server schema for microversion 2.9
  tempest/lib/api_schema/response/compute/v2_9/servers.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Log server console output during create/get timestamp
  tempest/scenario/manager.py
  tempest/scenario/test_shelve_instance.py
  tempest/scenario/test_snapshot_pattern.py
  tempest/scenario/test_stamp_pattern.py
  tempest/scenario/test_volume_boot_pattern.py
  tempest/scenario/test_volume_migrate_attached.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Add server schema for microversion 2.16
  tempest/lib/api_schema/response/compute/v2_16/servers.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Add server schema for microversion 2.19
  tempest/lib/api_schema/response/compute/v2_19/servers.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Add more information for InvalidCredentials exception
  tempest/lib/services/clients.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Dynamic width count for plugin registry table column
  doc/source/data/tempest-plugins-registry.header
  tools/generate-tempest-plugins-list.sh
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Add server schema for microversion 2.26
  tempest/lib/api_schema/response/compute/v2_26/servers.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Check API extension 'filter-validation'
  tempest/api/network/admin/test_external_network_extension.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Use --os-endpoint-type for Cinder CLI
  releasenotes/notes/cinder-use-os-endpoint-type-c11f63fd468ceb4c.yaml
  tempest/lib/cli/base.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Add test for create volume from snap without size
  tempest/api/volume/test_volumes_snapshots.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

use fqdn for zuul projects
  .zuul.yaml
Due: tempest-tox-plugin-sanity-check, devstack-tempest, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Fix typo xpvnc in get_remote_console schema
  tempest/lib/api_schema/response/compute/v2_6/servers.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Convert tempest-scenario-all job to tempest-slow
  .zuul.yaml
  tox.ini
Due: tempest-tox-plugin-sanity-check, devstack-tempest, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Pass "access_point" server to get_remote_client
  tempest/scenario/test_security_groups_basic_ops.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Adding links to git reference in docs
  tools/generate-tempest-plugins-list.sh
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Make volume client alias with _latest suffix
  tempest/api/volume/admin/test_volume_quotas.py
  tempest/api/volume/base.py
  tempest/api/volume/test_volume_transfers.py
  tempest/clients.py
  tempest/cmd/cleanup_service.py
  tempest/common/compute.py
  tempest/scenario/manager.py
  tempest/scenario/test_volume_migrate_attached.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Add comment for schema change in microversion 2.19
  tempest/lib/api_schema/response/compute/v2_19/servers.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Added tempest_black_regex to skip tempest tests
  roles/run-tempest/README.rst
  roles/run-tempest/defaults/main.yaml
  roles/run-tempest/tasks/main.yaml
Due: tempest-tox-plugin-sanity-check, devstack-tempest, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Fill schema gap in flavors.py
  tempest/lib/api_schema/response/compute/v2_1/flavors.py
  tempest/lib/api_schema/response/compute/v2_55/flavors.py
  tempest/lib/api_schema/response/compute/v2_61/flavors.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Path conditions:
  tempest-tox-plugin-sanity-check: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  devstack-tempest: any of: ^playbooks/, ^roles/, ^.zuul.yaml$
  tempest-full-parallel: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-full-py36: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-full-queens: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-full-queens-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-full-pike: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-scenario-all: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tempest/api/.*$
  nova-cells-v1: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  nova-live-migration: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-cinder-v2-api: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
