Repository openstack/tempest: changes, and which Zuul jobs are due for each by the changed paths.
All: tempest-tox-plugin-sanity-check, devstack-tempest, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Path conditions:
  tempest-tox-plugin-sanity-check: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  devstack-tempest: any of: ^playbooks/, ^roles/, ^.zuul.yaml$
  nova-multiattach: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-full-parallel: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-full-py36: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-full-rocky: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-full-rocky-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-full-queens: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-full-queens-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-full-pike: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-slow: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  nova-cells-v1: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  nova-live-migration: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  neutron-grenade-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  devstack-plugin-ceph-tempest: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  puppet-openstack-integration-4-scenario001-tempest-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  puppet-openstack-integration-4-scenario002-tempest-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  puppet-openstack-integration-4-scenario003-tempest-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  puppet-openstack-integration-4-scenario004-tempest-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  neutron-tempest-dvr: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  legacy-tempest-dsvm-neutron-full-ocata: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  legacy-tempest-dsvm-neutron-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-cinder-v2-api: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  legacy-periodic-tempest-dsvm-all-master: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  legacy-tempest-dsvm-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  legacy-tempest-dsvm-neutron-dvr-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  neutron-tempest-dvr-ha-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  legacy-tempest-dsvm-full-test-accounts: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  legacy-tempest-dsvm-neutron-full-test-accounts: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  legacy-tempest-dsvm-identity-v3-test-accounts: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  legacy-tempest-dsvm-neutron-full-non-admin: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  legacy-tempest-dsvm-nova-v20-api: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  legacy-tempest-dsvm-lvm-multibackend: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  legacy-tempest-dsvm-cinder-v1: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  devstack-plugin-ceph-tempest-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  legacy-tempest-dsvm-neutron-pg-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  legacy-tempest-dsvm-neutron-full-opensuse-423: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$

Add NetworkSubnetPools to tempest cleanup
  tempest/cmd/cleanup_service.py
  tempest/tests/cmd/test_cleanup_services.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Fix typo
  tempest/lib/common/rest_client.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Improved tempest plugin sanity check script
  .zuul.yaml
  tools/tempest-plugin-sanity.sh
Due: tempest-tox-plugin-sanity-check, devstack-tempest, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Use rand_password() for password when creating user
  tempest/api/identity/admin/v3/test_default_project_id.py
  tempest/api/identity/admin/v3/test_inherits.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Make tempest-multinode-full job for stable branch
  .zuul.yaml
Due: tempest-tox-plugin-sanity-check, devstack-tempest, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Make tempest-slow run on stable branch also
  .zuul.yaml
Due: tempest-tox-plugin-sanity-check, devstack-tempest, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Update neutron quota_driver path
  tempest/api/network/admin/test_negative_quotas.py
  tempest/api/network/admin/test_quotas.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

doc: fix compute API microversion list format
  doc/source/microversion_testing.rst
Due: none

stestr expects --concurrency to be an int
  tempest/cmd/run.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

no force_tenant_isolation in DefaultDomainTestJSON
  tempest/api/identity/admin/v3/test_domains.py
  tempest/api/identity/v3/test_domains.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Set concurrency default value
  tempest/cmd/run.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Update json module to jsonutils
  tempest/api/compute/servers/test_device_tagging.py
  tempest/cmd/subunit_describe_calls.py
  tempest/scenario/test_server_basic_ops.py
  tempest/scenario/test_volume_boot_pattern.py
  tempest/tests/lib/common/test_rest_client.py
  tempest/tests/lib/services/identity/v2/test_token_client.py
  tempest/tests/lib/services/identity/v3/test_token_client.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Remove admin test_l3_agent_scheduler API test module
  tempest/api/network/admin/test_l3_agent_scheduler.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Fix openstack-dev ML ref in test removal process.
  doc/source/test_removal.rst
Due: none

Move tempest-tox-plugin-sanity-check to Bionic
  .zuul.yaml
Due: tempest-tox-plugin-sanity-check, devstack-tempest, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Remove unused and duplicate nodeset defined in Tempest
  .zuul.yaml
Due: tempest-tox-plugin-sanity-check, devstack-tempest, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Add py37 tox env
  tox.ini
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Add autopep8 to tox.ini
  tempest/api/compute/servers/test_novnc.py
  tempest/api/network/test_dhcp_ipv6.py
  tempest/api/network/test_networks.py
  tempest/api/network/test_ports.py
  tempest/cmd/cleanup.py
  tempest/cmd/run.py
  tempest/common/identity.py
  tempest/common/utils/net_utils.py
  tempest/config.py
  tempest/lib/cmd/check_uuid.py
  tempest/lib/common/api_version_utils.py
  tempest/lib/common/preprov_creds.py
  tempest/lib/common/utils/data_utils.py
  tempest/lib/services/compute/flavors_client.py
  tempest/lib/services/compute/servers_client.py
  tempest/scenario/manager.py
  tempest/scenario/test_minimum_basic.py
  tempest/scenario/test_volume_boot_pattern.py
  tempest/test_discover/plugins.py
  tempest/test_discover/test_discover.py
  tempest/tests/cmd/test_workspace.py
  tempest/tests/lib/common/test_dynamic_creds.py
  tempest/tests/lib/services/compute/test_images_client.py
  tempest/tests/lib/services/volume/v3/test_scheduler_stats_client.py
  tempest/tests/test_hacking.py
  tools/format.sh
  tox.ini
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

allow create_server with vnic_type and port_profile from kwargs
  tempest/scenario/manager.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Remove LOG in misc.py
  tempest/lib/common/utils/misc.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Make type decorator compatible with unicode strings
  tempest/lib/decorators.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Set ENABLE_VOLUME_MULTIATTACH=true on tempest-slow subnode localrc
  .zuul.yaml
Due: tempest-tox-plugin-sanity-check, devstack-tempest, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Use credentials domain instead of creating new one
  tempest/api/identity/admin/v3/test_list_projects.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Immutable user source: v3 test_inherits
  tempest/api/identity/admin/v3/test_inherits.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

immutable user source: v3 test_roles
  tempest/api/identity/admin/v3/test_roles.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Use nova zuulv3 job for nova v2 API
  .zuul.yaml
Due: tempest-tox-plugin-sanity-check, devstack-tempest, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Update v3 identity inherits tests to work w/ pre-prov
  tempest/api/identity/admin/v3/test_inherits.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Fix potential issue with adding a fixed ip
  tempest/api/compute/servers/test_attach_interfaces.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Checking config file actually exist or not in tempest run
  releasenotes/notes/bug-1808473-54ada26ab78e7b02.yaml
  tempest/cmd/run.py
  tempest/tests/cmd/test_run.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Default gabbi_tempest_path to empty string
  playbooks/devstack-tempest.yaml
Due: tempest-tox-plugin-sanity-check, devstack-tempest, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Add releasenote to tag the Tempest for Stein release
  releasenotes/notes/tempest-stein-release-18bad34136a2e6ef.yaml
Due: none

Remove the Ocata stable branch jobs from master gate
  .zuul.yaml
Due: tempest-tox-plugin-sanity-check, devstack-tempest, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Replace openstack.org git:// URLs with https://
  tools/generate-tempest-plugins-list.sh
  tools/tempest-plugin-sanity.sh
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Add missing validation for the compute/positive
  tempest/api/compute/servers/test_server_actions.py
  tempest/api/compute/volumes/test_attach_volume.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Add release notes page for version 20.0.0
  releasenotes/source/index.rst
  releasenotes/source/v20.0.0.rst
Due: none

Add Tempest gate job for stable/stein
  .zuul.yaml
Due: tempest-tox-plugin-sanity-check, devstack-tempest, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Unskip test_stamp_pattern
  tempest/scenario/test_stamp_pattern.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Mention autopep8 in Hacking.rst
  HACKING.rst
  tools/format.sh
  tox.ini
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Init placement client in tempest Manager object
  tempest/clients.py
  tempest/tests/lib/services/registry_fixture.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Improve logging in tempest cleanup
  tempest/cmd/cleanup_service.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423
