Repository openstack/tempest: changes, and which Zuul jobs are due for each by the changed paths.
All: devstack-tempest, devstack-tempest-ipv6, tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Path conditions:
  devstack-tempest: any of: ^playbooks/, ^roles/, ^.zuul.yaml$
  devstack-tempest-ipv6: any of: ^playbooks/, ^roles/, ^.zuul.yaml$
  tempest-full-parallel: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-full-py3: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-full-py3-ipv6: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-full-stein: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-full-stein-py3: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-full-rocky: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-full-rocky-py3: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-full-queens: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-full-queens-py3: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-full-pike: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-multinode-full: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-multinode-full-py3: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-tox-plugin-sanity-check: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-slow: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-slow-py3: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  nova-live-migration: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  neutron-grenade-multinode: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  neutron-grenade: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  grenade-py3: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  devstack-plugin-ceph-tempest: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  puppet-openstack-integration-4-scenario001-tempest-centos-7: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  puppet-openstack-integration-4-scenario002-tempest-centos-7: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  puppet-openstack-integration-4-scenario003-tempest-centos-7: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  puppet-openstack-integration-4-scenario004-tempest-centos-7: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  neutron-tempest-dvr: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-full: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  interop-tempest-consistency: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-full-test-account-py3: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-full-test-account-no-admin-py3: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-cinder-v2-api: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-all: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  legacy-tempest-dsvm-neutron-dvr-multinode-full: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  neutron-tempest-dvr-ha-multinode-full: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  nova-cells-v1: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  nova-tempest-v2-api: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  legacy-tempest-dsvm-lvm-multibackend: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  devstack-plugin-ceph-tempest-py3: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-pg-full: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$
  tempest-full-py3-opensuse150: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tools/.*$

Add 'single core approve' policy for plugins sanity jobs failure
  REVIEWING.rst
Due: none

Fix invalid original_name key in flavor check
  tempest/scenario/test_network_advanced_server_ops.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Add Python 3 Train unit tests
  .zuul.yaml
  setup.cfg
Due: devstack-tempest, devstack-tempest-ipv6, tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Add ranger-tempest-plugin to blacklist
  tools/generate-tempest-plugins-list.py
Due: tempest-tox-plugin-sanity-check

Use skip_checks in ServersTestMultiNic
  tempest/api/compute/servers/test_create_server_multi_nic.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Add releasenote to tag the end of support for Pike
  releasenotes/notes/intermediate-train-release-0146c624cff9a57f.yaml
Due: none

Remove duplicated irrelevant-files for sanity check
  .zuul.yaml
Due: devstack-tempest, devstack-tempest-ipv6, tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Fix unittest of encryption_types_client
  tempest/tests/lib/services/volume/v3/test_encryption_types_client.py
Due: none

Add segments client
  releasenotes/notes/segments-client-866f02948f40d4ff.yaml
  tempest/clients.py
  tempest/lib/services/network/__init__.py
  tempest/lib/services/network/segments_client.py
  tempest/tests/lib/services/network/test_segments_client.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Use memcached based cache in nova in all devstack-tempest jobs
  .zuul.yaml
Due: devstack-tempest, devstack-tempest-ipv6, tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Skip tests in UsersV3TestJSON with an immutable user source
  tempest/api/identity/admin/v3/test_list_users.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Add release notes page for version 21.0.0
  releasenotes/source/index.rst
  releasenotes/source/v21.0.0.rst
Due: none

Fix indentation in releasenotes
  releasenotes/notes/12/12.1.0-add_subunit_describe_calls-5498a37e6cd66c4b.yaml
  releasenotes/notes/12/12.1.0-identity-clients-as-library-e663c6132fcac6c2.yaml
  releasenotes/notes/12/12.1.0-image-clients-as-library-86d17caa26ce3961.yaml
  releasenotes/notes/12/12.2.0-add-new-identity-clients-3c3afd674a395bde.yaml
  releasenotes/notes/12/12.2.0-volume-clients-as-library-9a3444dd63c134b3.yaml
  releasenotes/notes/13/13.0.0-add-new-identity-clients-as-library-5f7ndha733nwdsn9.yaml
  releasenotes/notes/14/14.0.0-add-image-clients-af94564fb34ddca6.yaml
  releasenotes/notes/15/15.0.0-add-image-clients-tests-49dbc0a0a4281a77.yaml
  releasenotes/notes/add-domain-param-in-cliclient-a270fcf35c8f09e6.yaml
  releasenotes/notes/intermediate-train-release-0146c624cff9a57f.yaml
  releasenotes/notes/make-object-storage-client-as-stable-interface-d1b07c7e8f17bef6.yaml
  releasenotes/notes/migrate-object-storage-as-stable-interface-42014c7b43ecb254.yaml
  releasenotes/notes/tempest-rocky-release-0fc3312053923380.yaml
  releasenotes/notes/tempest-stein-release-18bad34136a2e6ef.yaml
Due: none

Setup framework for IPv6-only deployment verification
  .zuul.yaml
  playbooks/devstack-tempest-ipv6.yaml
  roles/ipv6-only-deployments-verification/README.rst
  roles/ipv6-only-deployments-verification/defaults/main.yaml
  roles/ipv6-only-deployments-verification/tasks/main.yaml
  tools/verify-ipv6-only-deployments.sh
  tox.ini
Due: devstack-tempest, devstack-tempest-ipv6, tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Introduce bashate
  .zuul.yaml
  tools/format.sh
  tools/generate-tempest-plugins-list.sh
  tools/tempest-plugin-sanity.sh
  tox.ini
Due: devstack-tempest, devstack-tempest-ipv6, tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Fix remaining api-ref references
  tempest/lib/services/network/segments_client.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Revert "Use memcached based cache in nova in all devstack-tempest jobs"
  .zuul.yaml
Due: devstack-tempest, devstack-tempest-ipv6, tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Remove x/ranger-tempest-plugin from BLACKLIST
  tools/generate-tempest-plugins-list.py
Due: tempest-tox-plugin-sanity-check

Make bashate E005,E042 error and ignore E006
  tools/verify-ipv6-only-deployments.sh
  tox.ini
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Modify the fake date to the correct value
  tempest/tests/lib/services/volume/v3/test_groups_client.py
Due: none

Modify the API reference
  tempest/lib/services/network/floating_ips_client.py
  tempest/lib/services/network/metering_labels_client.py
  tempest/lib/services/network/networks_client.py
  tempest/lib/services/network/ports_client.py
  tempest/lib/services/network/routers_client.py
  tempest/lib/services/network/security_group_rules_client.py
  tempest/lib/services/network/security_groups_client.py
  tempest/lib/services/network/subnetpools_client.py
  tempest/lib/services/network/subnets_client.py
  tempest/lib/services/network/tags_client.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Do not delete server when task state is image_snapshot
  tempest/api/compute/images/test_images.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Skip some tests in "network.admin.test_ports" if nova is not enabled
  tempest/api/network/admin/test_ports.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Fix Upstream test cases to be case insensitive
  tempest/api/identity/v3/test_tokens.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

add show detail for volume Api V3
  releasenotes/notes/add-show-api-v3-details-api-to-v3-versions-client-4b408427379cabfe.yaml
  tempest/lib/api_schema/response/volume/versions.py
  tempest/lib/services/volume/v3/versions_client.py
  tempest/tests/lib/services/volume/v3/test_versions_client.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Remove python shebangs from python modules
  tempest/cmd/cleanup.py
  tempest/cmd/cleanup_service.py
  tempest/cmd/list_plugins.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

tempest cleanup fix return code
  tempest/cmd/cleanup.py
  tempest/cmd/cleanup_service.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Retry http requests to generate plugins list
  tools/generate-tempest-plugins-list.py
Due: tempest-tox-plugin-sanity-check

Modify the group types date
  tempest/tests/lib/services/volume/v3/test_group_types_client.py
Due: none

Add api reference in quotas_client
  tempest/lib/services/network/quotas_client.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Add API reference for metering_label_rules_client
  tempest/lib/services/network/metering_label_rules_client.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

compute: fix missing img_signature_uuid property
  tempest/api/compute/servers/test_servers.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Add assert statements for Volume Pagination test to get passed
  tempest/api/volume/test_volumes_list.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Fix Tempest Plugin Registry page for plugins url
  tools/generate-tempest-plugins-list.sh
Due: tempest-tox-plugin-sanity-check

Change ListProjectsStaticTestJSON to not fail with many domains
  tempest/api/identity/admin/v3/test_list_projects.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Remove references to locking test accounts config doc
  doc/source/configuration.rst
Due: none

Fix the skipException message to follow a pattern similar to other messages
  tempest/api/volume/admin/test_volume_retype.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Add api-ref link for some interfaces
  tempest/lib/services/compute/servers_client.py
  tempest/lib/services/volume/v3/snapshot_manage_client.py
  tempest/lib/services/volume/v3/volumes_client.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Add response schema validation for snapshot manage
  tempest/lib/api_schema/response/volume/manage_snapshot.py
  tempest/lib/api_schema/response/volume/versions.py
  tempest/lib/services/volume/v3/snapshot_manage_client.py
Due: tempest-full-parallel, tempest-full-py3, tempest-full-py3-ipv6, tempest-full-stein, tempest-full-stein-py3, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-multinode-full-py3, tempest-tox-plugin-sanity-check, tempest-slow, tempest-slow-py3, nova-live-migration, neutron-grenade-multinode, neutron-grenade, grenade-py3, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, tempest-full, interop-tempest-consistency, tempest-full-test-account-py3, tempest-full-test-account-no-admin-py3, tempest-cinder-v2-api, tempest-all, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, nova-cells-v1, nova-tempest-v2-api, legacy-tempest-dsvm-lvm-multibackend, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150
