Repository openstack/tempest: changes, and which Zuul jobs are due for each by the changed paths.
All: tempest-tox-plugin-sanity-check, devstack-tempest, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

tempest-tox-plugin-sanity-check:
  parent: tox
  description: 'Run tempest plugin sanity check script using tox.
  
    '
  nodeset: ubuntu-xenial
  vars:
    tox_envlist: plugin-sanity-check
  voting: false
  timeout: 5000
  required-projects:
  - git.openstack.org/openstack/almanach
  - git.openstack.org/openstack/aodh
  ...

devstack-tempest:
  parent: devstack
  nodeset: openstack-single-node
  description: 'Base Tempest job.
  
  
    This Tempest job provides the base for both the single and multi-node
  
    test setup. To run a multi-node test inherit from devstack-tempest and
  
    set the nodeset to a multi-node one.
  
    '
  required-projects:
  ...

tempest-full-parallel:
  parent: tempest-full
  voting: false
  branches:
  - master
  description: 'Base integration test with Neutron networking and py27.
  
    It includes all scenarios as it was in the past.
  
    This job runs all scenario tests in parallel!
  
    '
  vars:
    tox_envlist: full-parallel

tempest-full-py36:
  parent: tempest-full-py3
  nodeset: openstack-bionic-node
  branches:
  - master
  description: 'Base integration test with Neutron networking and py36.
  
    '
  voting: false

tempest-full-rocky:
  parent: tempest-full
  override-checkout: stable/rocky

tempest-full-rocky-py3:
  parent: tempest-full-py3
  override-checkout: stable/rocky

tempest-full-queens:
  parent: tempest-full
  override-checkout: stable/queens

tempest-full-queens-py3:
  parent: tempest-full-py3
  override-checkout: stable/queens

tempest-full-pike:
  parent: tempest-full
  override-checkout: stable/pike

tempest-multinode-full:
  parent: devstack-tempest
  nodeset: openstack-two-node
  branches:
  - master
  ...

tempest-slow:
  parent: tempest-multinode-full
  branches:
  - master
  ...

nova-live-migration:
  voting: false

devstack-plugin-ceph-tempest:
  voting: false

puppet-openstack-integration-4-scenario001-tempest-centos-7:
  voting: false

puppet-openstack-integration-4-scenario002-tempest-centos-7:
  voting: false

puppet-openstack-integration-4-scenario003-tempest-centos-7:
  voting: false

puppet-openstack-integration-4-scenario004-tempest-centos-7:
  voting: false

tempest-full:
  parent: devstack-tempest
  branches: ^(?!stable/ocata).*$
  description: "Base integration test with Neutron networking and py27.\nFormer names for this job where:\n  * legacy-tempest-dsvm-neutron-full\n  * gate-tempest-dsvm-neutron-full-ubuntu-xenial\n"
  vars:
    tox_envlist: full
    devstack_localrc:
  ...

tempest-cinder-v2-api:
  parent: devstack-tempest
  branches:
  - master
  description: 'This job runs the cinder API test against v2 endpoint.
  
    '
  vars:
    tox_envlist: all
    tempest_test_regex: api.*volume
    devstack_localrc:
      TEMPEST_VOLUME_TYPE: volumev2

Add unittest for types_client
  tempest/tests/lib/services/volume/v3/test_types_client.py
Due: none

Update v3 oauth consumers tests to work w/ pre-prov
  tempest/api/identity/admin/v3/test_oauth_consumers.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Update v3 identity domain negative tests to work w/ pre-prov
  tempest/api/identity/admin/v3/test_domains_negative.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Update v3 identity domain configuration tests to work w/ pre-prov
  tempest/api/identity/admin/v3/test_domain_configuration.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Immutable user source: v3 test_projects
  tempest/api/identity/admin/v3/test_projects.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Fix verify-config KeyError
  tempest/cmd/verify_tempest_config.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Ensure volume is deleted after build error
  tempest/common/compute.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Add placement client for basic GET operations
  releasenotes/notes/Placement-client-for-placement-based-minimum-bw-allocation-27ed0938118752b6.yaml
  tempest/config.py
  tempest/lib/services/clients.py
  tempest/lib/services/placement/__init__.py
  tempest/lib/services/placement/base_placement_client.py
  tempest/lib/services/placement/placement_client.py
  tempest/tests/lib/services/placement/__init__.py
  tempest/tests/lib/services/placement/test_placement_client.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Log the result of command in get_nic_name_by_ip
  tempest/common/utils/linux/remote_client.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Update v3 identity project tag test to work w/ pre-prov
  tempest/api/identity/admin/v3/test_project_tags.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Add whitelist based tests for tempest run command.
  tempest/tests/cmd/test_run.py
Due: none

Fix invalid exception module usage
  tempest/api/compute/base.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Add black-list based tests for tempest run command
  tempest/tests/cmd/test_run.py
Due: none

Adding missing tests for regex and black-regex in tempest run
  tempest/tests/cmd/test_run.py
Due: none

Remove warnings.simplefilter to suppress ResourceWarning
  tempest/lib/services/clients.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Fix E117 for pycodestyle (pep8) 2.5.0
  tempest/api/compute/servers/test_attach_interfaces.py
  tempest/lib/cmd/check_uuid.py
  tempest/lib/common/rest_client.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Skip test_subnet_details slow test until bug 1813198 is fixed
  tempest/scenario/test_network_basic_ops.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Raise renew_delay in TestNetworkBasicOps:test_subnet_details
  tempest/scenario/test_network_basic_ops.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Convert result of hosts.values() to list always
  tempest/api/compute/admin/test_servers_on_multinodes.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Add tempest-multinode-full-py3 job definition
  .zuul.yaml
Due: tempest-tox-plugin-sanity-check, devstack-tempest, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Add tempest-slow-py3 job definition
  .zuul.yaml
Due: tempest-tox-plugin-sanity-check, devstack-tempest, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Current naming convention is uninformative.
  tempest/api/identity/admin/v3/test_tokens.py
  tempest/api/identity/admin/v3/test_trusts.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Fix tempest cleanup AttributeError
  tempest/cmd/cleanup_service.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Make interop check job as voting
  .zuul.yaml
Due: tempest-tox-plugin-sanity-check, devstack-tempest, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Enable volume multiattach tests in tempest-full/slow jobs
  .zuul.yaml
  releasenotes/notes/enable-volume-multiattach-fd5e9bf0e96b56ce.yaml
  tempest/api/compute/admin/test_volume_swap.py
Due: tempest-tox-plugin-sanity-check, devstack-tempest, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Fix tempest cleanup for python3
  tempest/cmd/cleanup.py
  tempest/tests/cmd/test_cleanup.py
  tempest/tests/cmd/test_saved_state_json.json
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Update regions tests to work w/ pre-prov
  tempest/api/identity/admin/v3/test_regions.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Immutable user source: v3 test_groups
  tempest/api/identity/admin/v3/test_groups.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Update v3 project tests to work w/ pre-prov
  tempest/api/identity/admin/v3/test_projects.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Normalize endpoint path in oauth client
  tempest/lib/services/identity/v3/oauth_token_client.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Remove deprecated services from cleanup
  tempest/cmd/cleanup_service.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Mark test_volume_boot_pattern as slow
  tempest/scenario/test_volume_boot_pattern.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Mark test_server_connectivity_reboot as slow
  tempest/scenario/test_network_advanced_server_ops.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Allow decorators.attr to be conditional
  releasenotes/notes/conditional-attr-a8564ec5a70ec840.yaml
  tempest/lib/decorators.py
  tempest/tests/lib/test_decorators.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Conditionally mark test_attach_detach_volume as slow
  tempest/api/compute/volumes/test_attach_volume.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Update v3 identity group tests to work w/ pre-prov
  tempest/api/identity/admin/v3/test_groups.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Add profiler support into Tempest
  releasenotes/notes/add-profiler-config-options-db7c4ae6d338ee5c.yaml
  tempest/config.py
  tempest/lib/common/profiler.py
  tempest/lib/common/rest_client.py
  tempest/test.py
  tempest/tests/lib/common/test_profiler.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Fix tempest cleanup
  tempest/cmd/cleanup.py
  tempest/cmd/cleanup_service.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Add unit tests for tempest cleanup
  tempest/tests/cmd/test_cleanup.py
  tempest/tests/cmd/test_cleanup_services.py
Due: none

add python 3.7 unit test job
  .zuul.yaml
Due: tempest-tox-plugin-sanity-check, devstack-tempest, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Path conditions:
  tempest-tox-plugin-sanity-check: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  devstack-tempest: any of: ^playbooks/, ^roles/, ^.zuul.yaml$
  nova-multiattach: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-full-parallel: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-full-py36: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-full-rocky: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-full-rocky-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-full-queens: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-full-queens-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-full-pike: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-slow: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  nova-cells-v1: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  nova-live-migration: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  neutron-grenade-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  devstack-plugin-ceph-tempest: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  puppet-openstack-integration-4-scenario001-tempest-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  puppet-openstack-integration-4-scenario002-tempest-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  puppet-openstack-integration-4-scenario003-tempest-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  puppet-openstack-integration-4-scenario004-tempest-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  neutron-tempest-dvr: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  legacy-tempest-dsvm-neutron-full-ocata: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  legacy-tempest-dsvm-neutron-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-cinder-v2-api: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  legacy-periodic-tempest-dsvm-all-master: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  legacy-tempest-dsvm-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  legacy-tempest-dsvm-neutron-dvr-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  neutron-tempest-dvr-ha-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  legacy-tempest-dsvm-full-test-accounts: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  legacy-tempest-dsvm-neutron-full-test-accounts: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  legacy-tempest-dsvm-identity-v3-test-accounts: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  legacy-tempest-dsvm-neutron-full-non-admin: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  legacy-tempest-dsvm-nova-v20-api: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  legacy-tempest-dsvm-lvm-multibackend: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  legacy-tempest-dsvm-cinder-v1: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  devstack-plugin-ceph-tempest-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  legacy-tempest-dsvm-neutron-pg-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  legacy-tempest-dsvm-neutron-full-opensuse-423: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
