Repository openstack/tempest: changes, and which Zuul jobs are due for each by the changed paths.
All: tempest-tox-plugin-sanity-check, devstack-tempest, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Path conditions:
  tempest-tox-plugin-sanity-check: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  devstack-tempest: any of: ^playbooks/, ^roles/, ^.zuul.yaml$
  nova-multiattach: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-full-parallel: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-full-py36: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-full-rocky: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-full-rocky-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-full-queens: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-full-queens-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-full-pike: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-slow: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  nova-cells-v1: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  nova-live-migration: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  neutron-grenade-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  devstack-plugin-ceph-tempest: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  puppet-openstack-integration-4-scenario001-tempest-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  puppet-openstack-integration-4-scenario002-tempest-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  puppet-openstack-integration-4-scenario003-tempest-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  puppet-openstack-integration-4-scenario004-tempest-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  neutron-tempest-dvr: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  legacy-tempest-dsvm-neutron-full-ocata: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  legacy-tempest-dsvm-neutron-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-cinder-v2-api: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  legacy-periodic-tempest-dsvm-all-master: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  legacy-tempest-dsvm-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  legacy-tempest-dsvm-neutron-dvr-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  neutron-tempest-dvr-ha-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  legacy-tempest-dsvm-full-test-accounts: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  legacy-tempest-dsvm-neutron-full-test-accounts: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  legacy-tempest-dsvm-identity-v3-test-accounts: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  legacy-tempest-dsvm-neutron-full-non-admin: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  legacy-tempest-dsvm-nova-v20-api: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  legacy-tempest-dsvm-lvm-multibackend: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  legacy-tempest-dsvm-cinder-v1: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  devstack-plugin-ceph-tempest-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  legacy-tempest-dsvm-neutron-pg-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  legacy-tempest-dsvm-neutron-full-opensuse-423: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$

docs: Include information about the list of supported projects
  HACKING.rst
Due: none

Pass tox_extra_args to Run tempest task
  roles/run-tempest/README.rst
  roles/run-tempest/defaults/main.yaml
  roles/run-tempest/tasks/main.yaml
Due: tempest-tox-plugin-sanity-check, devstack-tempest, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

docs: Fix plugin registry generation failures
  tools/generate-tempest-plugins-list.py
  tools/generate-tempest-plugins-list.sh
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

interfaces_by_fixed_ip no extra port
  tempest/api/compute/servers/test_attach_interfaces.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Wait for IP add/remove in test_add_remove_fixed_ip
  tempest/api/compute/servers/test_attach_interfaces.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Fix required projects for sanity plugin check job
  .zuul.yaml
  tools/tempest-plugin-sanity.sh
Due: tempest-tox-plugin-sanity-check, devstack-tempest, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Add api ref link for import_backup
  tempest/lib/services/volume/v3/backups_client.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

change http links to https links
  HACKING.rst
  README.rst
  doc/source/plugin.rst
Due: none

fix typos
  tempest/api/compute/admin/test_keypairs_v210.py
  tempest/lib/common/rest_client.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Refactor cleanups for test_trusts
  tempest/api/identity/admin/v3/test_trusts.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Improve the user lock config options help message
  tempest/config.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

[Negative] Extend volume over quota limit
  tempest/api/volume/admin/test_volume_quotas_negative.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

addCleanup should be immediately after the creating statement.
  tempest/api/identity/admin/v2/test_services.py
  tempest/api/identity/v2/test_ec2_credentials.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Add a blank space between "eui_ip" and "when".
  tempest/api/network/test_dhcp_ipv6.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Add missing ws seperator between words
  tempest/api/identity/admin/v2/test_tenants.py
  tempest/api/identity/admin/v3/test_projects.py
  tempest/cmd/cleanup.py
  tempest/cmd/run.py
  tempest/lib/auth.py
  tempest/test.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Handling invalid path of workspace register and move
  releasenotes/notes/bug-1799883-6ea95fc64f70c9ef.yaml
  tempest/cmd/workspace.py
  tempest/tests/cmd/test_workspace.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Use base.delete_server in test_servers.py
  tempest/api/compute/servers/test_servers.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Migrate tempest provided base jobs to bionic
  .zuul.yaml
Due: tempest-tox-plugin-sanity-check, devstack-tempest, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Support immutable user source
  releasenotes/notes/add-immutable-user-source-support-dd17772a997075e0.yaml
  tempest/api/identity/admin/v3/test_users.py
  tempest/config.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

docs: Fix incorrect docstrings in reStructuredText format
  HACKING.rst
  doc/source/data/tempest-plugins-registry.header
  tempest/api/compute/admin/test_volume_swap.py
  tempest/api/compute/base.py
  tempest/api/object_storage/test_container_quotas.py
  tempest/common/compute.py
  tempest/common/identity.py
  tempest/lib/common/fixed_network.py
  tempest/lib/common/utils/data_utils.py
  tempest/lib/services/volume/v1/types_client.py
  tempest/lib/services/volume/v3/types_client.py
  tempest/lib/services/volume/v3/volumes_client.py
  tempest/scenario/manager.py
  tempest/scenario/test_encrypted_cinder_volumes.py
  tempest/scenario/test_network_basic_ops.py
  tempest/scenario/test_object_storage_basic_ops.py
  tempest/scenario/test_security_groups_basic_ops.py
  tempest/test.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Adding missing test cases of tempest workspace
  tempest/tests/cmd/test_workspace.py
Due: none

Check network connectivity of the instance before and after live migration
  tempest/api/compute/admin/test_live_migration.py
  tempest/scenario/test_network_advanced_server_ops.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Move test test_list_agents_non_admin to non-admin dir
  tempest/api/network/admin/test_agent_management.py
  tempest/api/network/test_agent_management_negative.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Adding debugger in tox.ini
  tox.ini
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Fixing ignored value of --config parameter in tempest account-generator
  tempest/cmd/account_generator.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Change openstack-dev to openstack-discuss
  setup.cfg
  tempest/tests/files/setup.cfg
Due: tempest-tox-plugin-sanity-check

Add device_owner to gateway port search criteria
  tempest/api/network/admin/test_routers.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Move nova-cells-v1 job to the experimental queue
  .zuul.yaml
Due: tempest-tox-plugin-sanity-check, devstack-tempest, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Transfer respository to repository
  tempest/README.rst
Due: none

Add irrelevant-files for grenade-py3 job
  .zuul.yaml
Due: tempest-tox-plugin-sanity-check, devstack-tempest, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Immutable user source: test_default_project_id
  tempest/api/identity/admin/v3/test_default_project_id.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Remove unnecessary line of code
  tempest/lib/common/utils/data_utils.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Use renamed template 'integrated-gate-py3'
  .zuul.yaml
Due: tempest-tox-plugin-sanity-check, devstack-tempest, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

fix port_profile
  releasenotes/notes/correct-port-profile-config-option-d67f5cb31f1bc34c.yaml
  tempest/config.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Add missing ws seperator between words part 2
  tempest/api/image/v2/test_images.py
  tempest/api/network/test_dhcp_ipv6.py
  tempest/config.py
  tempest/lib/services/identity/v3/inherited_roles_client.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

update spelling error
  tempest/api/compute/servers/test_list_servers_negative.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Move v3 identity endpoint group tests to work w/ pre-prov
  tempest/api/identity/admin/v3/test_endpoint_groups.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Move v3 project negative tests to work w/ pre-prov
  tempest/api/identity/admin/v3/test_projects_negative.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Remove unnecessary setUp
  tempest/tests/lib/common/test_http.py
Due: none

[Trivial fix]Remove unnecessary slash
  tempest/clients.py
Due: tempest-tox-plugin-sanity-check, nova-multiattach, tempest-full-parallel, tempest-full-py36, tempest-full-rocky, tempest-full-rocky-py3, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-slow, nova-cells-v1, nova-live-migration, neutron-grenade-multinode, neutron-grenade, devstack-plugin-ceph-tempest, puppet-openstack-integration-4-scenario001-tempest-centos-7, puppet-openstack-integration-4-scenario002-tempest-centos-7, puppet-openstack-integration-4-scenario003-tempest-centos-7, puppet-openstack-integration-4-scenario004-tempest-centos-7, neutron-tempest-dvr, legacy-tempest-dsvm-neutron-full-ocata, tempest-full, legacy-tempest-dsvm-neutron-full, tempest-cinder-v2-api, legacy-periodic-tempest-dsvm-all-master, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-full-test-accounts, legacy-tempest-dsvm-neutron-full-test-accounts, legacy-tempest-dsvm-identity-v3-test-accounts, legacy-tempest-dsvm-neutron-full-non-admin, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-cinder-v1, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423
