Repository openstack/tempest: changes, and which Zuul jobs are due for each by the changed paths.
All: tempest-tox-plugin-sanity-check, devstack-tempest, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Path conditions:
  tempest-tox-plugin-sanity-check: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  devstack-tempest: any of: ^playbooks/, ^roles/, ^.zuul.yaml$
  tempest-full-parallel: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-full-py36: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-full-queens: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-full-queens-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-full-pike: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-scenario-all: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$, ^tempest/api/.*$
  nova-cells-v1: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  nova-live-migration: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$
  tempest-cinder-v2-api: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tempest/hacking/.*$, ^tempest/tests/.*$

Add comment for schema change in microversion 2.13
  tempest/lib/api_schema/response/compute/v2_13/server_groups.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Delete snapshot in test_image_defined_boot_from_volume
  tempest/scenario/test_volume_boot_pattern.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Remove api_version setting from volume v3/v2 service client
  tempest/lib/services/volume/v3/backups_client.py
  tempest/lib/services/volume/v3/base_client.py
  tempest/lib/services/volume/v3/group_snapshots_client.py
  tempest/lib/services/volume/v3/group_types_client.py
  tempest/lib/services/volume/v3/groups_client.py
  tempest/lib/services/volume/v3/messages_client.py
  tempest/lib/services/volume/v3/snapshots_client.py
  tempest/lib/services/volume/v3/versions_client.py
  tempest/lib/services/volume/v3/volumes_client.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Fixing test "test_verify_glance_version_no_v2_with_v1_1"
  tempest/tests/cmd/test_verify_tempest_config.py
Due: none

Fill aggregate schema for microversion 2.41
  doc/source/microversion_testing.rst
  tempest/api/compute/admin/test_aggregates.py
  tempest/lib/api_schema/response/compute/v2_41/__init__.py
  tempest/lib/api_schema/response/compute/v2_41/aggregates.py
  tempest/lib/services/compute/aggregates_client.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Fill quota schema for microversion 2.36/2.57
  tempest/api/compute/admin/test_quotas.py
  tempest/lib/api_schema/response/compute/v2_36/quotas.py
  tempest/lib/api_schema/response/compute/v2_57/quotas.py
  tempest/lib/services/compute/quotas_client.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Remove base class complex and confusing variable
  tempest/api/network/admin/test_dhcp_agent_scheduler.py
  tempest/api/network/admin/test_routers.py
  tempest/api/network/base.py
  tempest/api/network/test_dhcp_ipv6.py
  tempest/api/network/test_floating_ips.py
  tempest/api/network/test_routers.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

trivial: Fix some compute api_schema formatting nits
  tempest/lib/api_schema/response/compute/v2_16/servers.py
  tempest/lib/api_schema/response/compute/v2_3/servers.py
  tempest/lib/api_schema/response/compute/v2_48/servers.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Remove deprecated option volume_feature_enabled.api_v1
  releasenotes/notes/removal-deprecated-volume-config-options-21c4412f3c600923.yaml
  tempest/clients.py
  tempest/cmd/verify_tempest_config.py
  tempest/config.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Fill servers schema gap in microversion 2.47/2.48
  tempest/lib/api_schema/response/compute/v2_47/servers.py
  tempest/lib/api_schema/response/compute/v2_48/servers.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Add server schema for microversion 2.54
  tempest/lib/api_schema/response/compute/v2_54/servers.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Add server schema for microversion 2.57
  tempest/lib/api_schema/response/compute/v2_57/servers.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Add server schema for microversion 2.63
  tempest/lib/api_schema/response/compute/v2_63/servers.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Set max microversion 2.43 for add_fixed_ip
  tempest/api/compute/servers/test_attach_interfaces.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Fix disabled_reason's type in services schema
  tempest/lib/api_schema/response/compute/v2_53/services.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Deprecate volume api selection config option
  releasenotes/notes/deprecate-volume-api-selection-config-options-b95c5c0ccbf38916.yaml
  tempest/config.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Add releasenote to tag the Tempest for Rocky release
  releasenotes/notes/tempest-rocky-release-0fc3312053923380.yaml
Due: none

Fix 'ref' format errors in README file
  README.rst
Due: none

Fix python pkg format issue
  README.rst
Due: none

Fix typos in vnc-hardcoded-server-name-removed releasenotes
  releasenotes/notes/vnc-hardcoded-server-name-removed-6f8d1e90a175dc08.yaml
Due: none

Change schema hypervisor.cpu_info from string to object in 2.28
  doc/source/microversion_testing.rst
  tempest/api/compute/admin/test_hypervisor.py
  tempest/lib/api_schema/response/compute/v2_28/__init__.py
  tempest/lib/api_schema/response/compute/v2_28/hypervisors.py
  tempest/lib/services/compute/hypervisor_client.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Add release notes page for version 19.0.0
  releasenotes/source/index.rst
  releasenotes/source/v19.0.0.rst
Due: none

add python 3.6 unit test job
  .zuul.yaml
Due: tempest-tox-plugin-sanity-check, devstack-tempest, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Fix comments in rest_client
  tempest/lib/common/rest_client.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Add server schema for microversion 2.8
  doc/source/microversion_testing.rst
  tempest/lib/api_schema/response/compute/v2_8/__init__.py
  tempest/lib/api_schema/response/compute/v2_8/servers.py
  tempest/lib/api_schema/response/compute/v2_9/servers.py
  tempest/lib/services/compute/servers_client.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Remove unused compute.base.clear_resources
  tempest/api/compute/base.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Use base.get_host_for_server to get server host
  tempest/api/compute/admin/test_aggregates.py
  tempest/api/compute/admin/test_migrations.py
  tempest/api/compute/admin/test_servers_on_multinodes.py
  tempest/api/compute/base.py
  tempest/scenario/manager.py
  tempest/scenario/test_network_advanced_server_ops.py
  tempest/scenario/test_security_groups_basic_ops.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Migration tests in v2.6 should not repeat all migration tests.
  tempest/api/compute/admin/test_live_migration.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Remove unnecessary class variable in v3 snapshots_client
  tempest/lib/services/volume/v3/snapshots_client.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Add Tempest gate job for stable/rocky
  .zuul.yaml
Due: tempest-tox-plugin-sanity-check, devstack-tempest, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Prevent verify-config from IndexError
  tempest/cmd/verify_tempest_config.py
  tempest/tests/cmd/test_verify_tempest_config.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Fix nits and log from I996d257e089f0676e316f2b14207c343063ccf8e
  tempest/api/compute/admin/test_aggregates.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Modify comment of scheduler_available_filters
  tempest/config.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Do not set microversion for server diagnostics negative test
  tempest/api/compute/admin/test_server_diagnostics_negative.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Update .mailmap email addresses
  .mailmap
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Cleaning up a duplicated code
  tempest/api/volume/test_volumes_snapshots.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Add test for list snapshots with offset param
  tempest/api/volume/test_volumes_snapshots_list.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Removing unnecessary else
  tempest/cmd/run.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Bump up python version of unit test
  README.rst
  tox.ini
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, tempest-scenario-all, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api

Remove unnecessary class variables
  tempest/api/volume/admin/test_volume_quotas.py
  tempest/api/volume/admin/test_volume_quotas_negative.py
  tempest/api/volume/admin/test_volume_snapshot_quotas_negative.py
Due: tempest-tox-plugin-sanity-check, tempest-full-parallel, tempest-full-py36, tempest-full-queens, tempest-full-queens-py3, tempest-full-pike, tempest-multinode-full, nova-cells-v1, nova-live-migration, tempest-cinder-v2-api
